.header{
    /* margin: 0; */
    background-color: aqua;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.links{
    display: flex;
    gap: 20px;
}
a{
    text-decoration: none;
    color: black;
    font-weight: 700;
}
h3{
    margin: 0;
}