.single-player{
    /* border: 1px solid #F45050; */
    background-color: #05BFDB;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}
.single-player img{
    margin-top: 10px;
    height: 200px;
    width: 200px;
    border-radius: 25px;
}
.bold{
    font-weight: 800;
}
.wishlist-btn{
    border: none;
    padding: 8px;
    border-radius: 5px;
    background-color: green;
    font-weight: 700;
    color: white;
}
.wishlist-btn:hover{
    background-color: white;
    color: black;
    cursor: crosshair;
}